MACHINE = "raspberrypi4-64"
# Headless optimization
DISTRO_FEATURES:remove = "x11 wayland vulkan opengl directfb alsa pulseaudio bluez"
ENABLE_UART = "1"
GPU_MEM = "16"
IMAGE_INSTALL:append = " my-rust-app"